{%extends 'base.html'%}

{% block content %}
{{block.super}}


<div class="container-fluid">

  <!-- Looping through news   -->
  {% for pic in image %}

  <div class="container-fluid">
      <div class="row fh5co-post-entry">
        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
          <span class="fh5co-meta">{{category.image_name}}</span>
          <figure>
          <img src="{{pic.image.url}}" class="img-responsive img-responsive" alt="Image">
          </figure>
            <!-- <span class="fh5co-meta">{{pic.image_name}}</span> -->
          <h2 class="fh5co-article-title">{{pic.image_name}}</h2>

        </article>

  {% empty %}
  <div class="row">
    <h2 class="text-center">No Images</h2>
  </div>
  {% endfor %}

</div>
</div>

{% endblock %}
