@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  background: #fff;
}

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #222;
  background: #fff;
}
body.brighton-overflow {
  overflow-x: auto;
}

::-webkit-selection {
  color: #fff;
  background: #f7c873;
}

::-moz-selection {
  color: #fff;
  background: #f7c873;
}

::selection {
  color: #fff;
  background: #f7c873;
}

a {
  color: #f7c873;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #f3ac2b;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", times, serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

#brighton-header {
  padding: 3em 3em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #brighton-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  #brighton-header {
    padding-bottom: 5em !important;
  }
}
#brighton-header .brighton-nav-toggle {
  position: absolute;
  top: 4.2em;
  left: 3em;
  z-index: 99;
}
@media screen and (max-width: 1200px) {
  #brighton-header .brighton-nav-toggle {
    top: 4em;
    left: 15px;
  }
}
@media screen and (max-width: 768px) {
  #brighton-header .brighton-nav-toggle {
    top: 2.5em;
    left: 15px;
  }
}
#brighton-header .brighton-social {
  position: absolute !important;
  right: 3em !important;
  top: 3.2em;
  z-index: 99;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  #brighton-header .brighton-social {
    right: 15px !important;
    top: 3.2em;
  }
}
@media screen and (max-width: 768px) {
  #brighton-header .brighton-social {
    right: 15px !important;
    top: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  #brighton-header .brighton-social {
    right: inherit !important;
    left: inherit !important;
    top: 5em;
    left: 50% !important;
    margin-left: -50px;
  }
}
@media screen and (max-width: 768px) {
  #brighton-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#brighton-header #brighton-logo {
  text-align: center;
}
#brighton-header #brighton-logo a {
  color: #000;
}
#brighton-header #brighton-logo a sup {
  font-size: 20px;
  top: -20px;
}

.brighton-post-prev,
.brighton-post-next {
  position: fixed;
  z-index: 999;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .brighton-post-prev,
  .brighton-post-next {
    position: relative;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
.brighton-post-prev span,
.brighton-post-next span {
  vertical-align: base;
  width: 100px;
}
.brighton-post-prev span i,
.brighton-post-next span i {
  top: 7px;
  position: relative;
  font-size: 30px;
  color: #000;
}

.brighton-post-prev {
  left: 0;
  margin-left: -25px;
}
.brighton-post-prev:hover {
  margin-left: 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .brighton-post-prev {
    margin-left: 15px;
    float: left;
  }
}

.brighton-post-next {
  right: 0;
  margin-right: -25px;
}
.brighton-post-next:hover {
  margin-right: 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .brighton-post-next {
    margin-right: 15px;
    float: right;
  }
}

.brighton-post-entry.single-entry .brighton-article-title {
  font-size: 80px;
}
@media screen and (max-width: 992px) {
  .brighton-post-entry.single-entry .brighton-article-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .brighton-post-entry.single-entry .brighton-article-title {
    font-size: 34px;
  }
}
.brighton-post-entry article {
  text-align: center;
  float: left;
  margin-bottom: 110px;
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 1200px) {
  .brighton-post-entry article {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .brighton-post-entry article {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .brighton-post-entry article {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.brighton-post-entry article a img {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.brighton-post-entry article a:hover img {
  opacity: .4;
}
.brighton-post-entry article figure {
  margin-bottom: 30px;
}
.brighton-post-entry article h2 {
  font-family: "Playfair Display", times, serif;
  font-size: 34px;
  color: #000;
  margin-bottom: 30px;
}
.brighton-post-entry article h2 a {
  color: #000;
}
@media screen and (max-width: 992px) {
  .brighton-post-entry article h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .brighton-post-entry article h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.brighton-post-entry article .brighton-meta {
  font-size: 16px;
  font-family: "Roboto", arial, sans-serif;
  color: #999999;
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 480px) {
  .brighton-post-entry article .brighton-meta {
    margin-bottom: 10px;
  }
}
.brighton-post-entry article .brighton-meta.brighton-date {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.brighton-post-entry article .content-article {
  padding-top: 4em;
}
.brighton-post-entry article .content-article a {
  text-decoration: underline;
}
.brighton-post-entry article .content-article blockquote {
  border-left: none;
  padding-left: 0;
}
.brighton-post-entry article .content-article blockquote p {
  font-family: "Playfair Display", times, serif;
  font-size: 27px;
  font-style: italic;
  line-height: 1.5;
}
.brighton-post-entry article .content-article blockquote p cite {
  padding-top: 20px;
  display: block;
  font-size: 16px;
  font-style: normal;
  color: gray;
}
.brighton-post-entry article .brighton-highlight {
  border: 4px solid #f2f2f2;
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
}
.brighton-post-entry article .brighton-highlight.right {
  float: right;
  margin-left: 30px;
}
.brighton-post-entry article .brighton-highlight.left {
  float: left;
}
.brighton-post-entry article .brighton-highlight h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-family: "Roboto", arial, sans-serif;
}
.brighton-post-entry article .brighton-highlight p {
  font-family: "Playfair Display", times, serif;
  color: #000;
  font-size: 20px;
}

.brighton-social {
  padding: 0;
  margin: 30px 0 0 0;
  position: relative;
}
.brighton-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.brighton-social li a {
  font-size: 20px;
  padding: 4px;
  color: #000;
}

figure figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #999999;
}

#brighton-offcanvas {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 700px;
  z-index: 99999;
  overflow-y: auto;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 768px) {
  #brighton-offcanvas {
    padding-top: 30px;
    width: 270px;
  }
}
#brighton-offcanvas .brighton-close-offcanvas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  width: 30px;
  overflow: hidden;
  color: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  #brighton-offcanvas .brighton-close-offcanvas {
    top: 5px;
  }
}
#brighton-offcanvas .brighton-close-offcanvas:hover {
  width: 85px;
  color: #000;
}
#brighton-offcanvas .brighton-close-offcanvas > span {
  width: 100px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#brighton-offcanvas .brighton-close-offcanvas > span > span {
  top: 7px;
  position: relative;
  font-size: 18px;
  vertical-align: top;
}
#brighton-offcanvas .brighton-box {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
#brighton-offcanvas .brighton-menu,
#brighton-offcanvas .brighton-bio {
  width: 50%;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  #brighton-offcanvas .brighton-menu,
  #brighton-offcanvas .brighton-bio {
    width: 100%;
    padding: 30px;
  }
}
#brighton-offcanvas .brighton-bio {
  text-align: center;
  float: left;
}
#brighton-offcanvas .brighton-bio figure {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
#brighton-offcanvas .brighton-bio img {
  width: 180px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#brighton-offcanvas .brighton-bio p {
  font-size: 16px;
}
#brighton-offcanvas .heading {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cccccc;
  margin-bottom: 30px;
}
#brighton-offcanvas .brighton-menu {
  float: right;
}
#brighton-offcanvas .brighton-menu ul {
  padding: 0;
  margin: 0;
}
#brighton-offcanvas .brighton-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
#brighton-offcanvas .brighton-menu ul li a {
  color: #000;
}

#brighton-footer {
  padding: 3em 0;
  text-align: center;
}

.js .to-animate, .js
.to-animate-2, .js
.animate-box {
  opacity: 0;
}

.brighton-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.brighton-nav-toggle.active i::before, .brighton-nav-toggle.active i::after {
  background: #f7c873;
}
.brighton-nav-toggle:hover, .brighton-nav-toggle:focus, .brighton-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.brighton-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #535659;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #535659;
  transition: all .2s ease-out;
}
.brighton-nav-toggle i::before, .brighton-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #535659;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.brighton-nav-toggle i::before {
  top: -7px;
}

.brighton-nav-toggle i::after {
  bottom: -7px;
}

.brighton-nav-toggle:hover i::before {
  top: -10px;
}

.brighton-nav-toggle:hover i::after {
  bottom: -10px;
}

.brighton-nav-toggle.active i {
  background: transparent;
}

.brighton-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.brighton-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.brighton-nav-toggle {
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: block;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .brighton-nav-toggle {
    display: block;
  }
}

.brighton-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rp-b {
  padding-bottom: 40px;
}

.cp-l {
  padding-left: 50px;
}
@media screen and (max-width: 992px) {
  .cp-l {
    padding-left: 15px;
  }
}

.cp-r {
  padding-right: 50px;
}
@media screen and (max-width: 992px) {
  .cp-r {
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
